layout python python3

watch_file requirements.txt

# Ensure required python modules are installed.
REQSUM=".direnv/requirements.checksum"
if [ ! -f "${REQSUM}" ] || ! shasum --algorithm 256 --check --status "${REQSUM}"; then
	echo -n "Updating python modules in venv.."
	pip install --quiet --requirement requirements.txt
	shasum --algorithm 256 requirements.txt > "${REQSUM}"
	echo " done."
fi
